<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= appName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:style css --><!-- /build -->
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <h1><%= appName %></h1>
    <h3>by <%= authorName %></h3>
    <p><%= appDescription %></p>

    <% if (includeIonicons) { %>
    <div><span class="ion-happy"></span> Ionicons successfully installed</div>
    <% } %>
    <% if (webFontNames.length) { %>
    <div>
        <h3>Google Web Fonts installed:</h3>
        <% for(var i=0, len=webFontNames.length; i<len; i++) { %>
        <p style="font-family: <%= webFontNames[i] %>"><%= webFontNames[i] %></p>
        <% } %>
    </div>
    <% } %>
    <!-- build:script js --><!-- /build -->
</body>
</html>