@import "lib/lesshat.less"; /* LESS Hat - collection of LESS mixins */<% if (includeColors) { %>
@import "lib/palette.less"; /* Color palette from Google's Material Design styles */<% } %><% if (includeIonicons) { %>
@import "lib/ionicons/ionicons.less"; /* Ionicons icon font */<% } %>

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #f0f0ff;

  p {
    color: #0000ff;
  }
}
